<% provide(:page_id, "blog")  %>
<div class="col-xs-12">
	<h1>Welcome to my blog</h1>
	<h4>I'll try to keep it interesting</h4>
	<!--<div class="row">-->
		<!--<div class="blog_post col-xs-8">-->
			<!--<h5>The Production Process</h5>-->
			<!--<hr>-->
			<!--<div class="blog_post_date">25 Jan, 2014</div>-->
			<!--<hr>-->
			<!--<img src="https://s3.amazonaws.com/davidortizfrau-uploads/pp.jpg">-->
			<!--<p>When I was still in school about 3 years ago, I put together a list of references based on the production process. <a href="http://wddjourney.com/references.html">Check it out.</a></p>-->

			<!--<p>When I look back at this list I know <b>I have come a long way since then</b>. I have changed many of this resources. For next month's post, i will be reproducing a new list of resources based on what I am currently using.</p>-->
		<!--</div>-->
	<!--</div>-->
</div>
