<% provide(:page_id, "contact")  %>

<div class="col-xs-12">
	<% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}", style: "margin-top: 25px; text-align:left") %>
  <% end %>
	<h1>Contact Information</h1>
	<h4>Based in Boulder, CO</h4>

	<div class="row">
		<div class="col-xs-8">
			<%= image_tag('boulder_flatirons.jpg', width: "500px") %>
		</div>
		<div class="col-xs-4" id="adress">
			<h4>Phone</h4>
			<p>(303) 808-3979</p>
			<h4>Email</h4>
			<p><a href="mailto:pwenig@gmail.com?Subject=Introduction" target="_top">pwenig@gmail.com</a></p>
			<h4>Social network</h4>
			<ul id="social_media">
				 <li><a href="http://www.linkedin.com/in/paulwenig/" id="linkedin", target="_blank"></a></li>
				 <li><a href="https://twitter.com/pwenig" id="twitter" target="_blank"></a></li>
				<li><a href="https://github.com/pwenig" id="github" target="_blank"></a></li>
			</ul>
		</div>

		

	</div>

	<br>

</div>