<% provide(:page_id, "education")  %>

<div class="col-xs-7">
	<h1>Technical Education</h1>
  <h3><a href="http://www.gschool.it">gSchool</a></h3>
  <p>Graduated: August 2014</p>
	<p>gSchool is a six-month intensive developer training program that includes Ruby on Rails, Sinatra, Javascript, CSS3,  HTML5,  Responsive Design, Database, APIs, Version Control, and Test Driven Development.</p>
  <p>Instructor: <a href="https://www.linkedin.com/pub/mike-gehard/4/72a/826", target="_blank">Mike Gehard, Senior Software Engineer at Pivotal Labs</a></p>
  <p>Instructor: <a href="https://www.linkedin.com/profile/view?id=5489340&authType=NAME_SEARCH&authToken=WLgb&locale=en_US&srchid=3854021424219055298&srchindex=1&srchtotal=448&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3854021424219055298%2CVSRPtargetId%3A5489340%2CVSRPcmpt%3Aprimary", target="_blank">Jeff Dean, Director of Curriculum at Galvanize</a></p>
  <h3><a href="http://www.davincicoders.com/">DaVinci Institute</a></h3>
  <p>Graduated: December 2013</p>
  <p>DaVinci coders is a three-month introductory program that lays a strong foundation to build upon. </p>
  <p>Instructor: <a href="https://www.linkedin.com/profile/view?id=27245568&authType=NAME_SEARCH&authToken=RY7O&locale=en_US&srchid=3854021424218862519&srchindex=1&srchtotal=29&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3854021424218862519%2CVSRPtargetId%3A27245568%2CVSRPcmpt%3Aprimary", target="_blank">Dan Stutzman, Software Engineer</a></p>
  <p>Instructor: <a href="https://www.linkedin.com/profile/view?id=3308936&authType=NAME_SEARCH&authToken=HzOJ&locale=en_US&srchid=3854021424218945968&srchindex=1&srchtotal=123&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3854021424218945968%2CVSRPtargetId%3A3308936%2CVSRPcmpt%3Aprimary", target="_blank">Jason Noble, Software Engineer & Top Rails Contributor</a></p>



  <h1>My Technical Skills</h1>

		<h4>Front-End Development</h4>
		<div class="bar-background">
			<div class="bar-foreground" id="html5">		
				<span>HTML</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="css3">		
				<span>CSS</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="bootstrap">		
				<span>Bootstrap</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="javascript">		
				<span>JQuery</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="angular">		
				<span>AngularJS</span>
			</div>
		</div>


		<h4>Back-end Development</h4>

		<div class="bar-background">
			<div class="bar-foreground" id="rails">		
				<span>Ruby on Rails</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="databases">		
				<span>PostgreSQL &  MySQL</span>
			</div>
		</div>

		<h4>Version Control</h4>
		<div class="bar-background">
			<div class="bar-foreground" id="git">
				<span>Git</span>
			</div>
		</div>

		<!--<div class="bar-background">-->
			<!--<div class="bar-foreground" id="tracker">-->
				<!--<span>Pivotal Tracker / Jira</span>-->
			<!--</div>-->
		<!--</div>-->
</div>

<div class="col-xs-5">
	<h1>College Education</h1>

	<div id="image">
		<%= image_tag "icon_school.png" %>
	</div>

	<div id="school_info">
		<ul>
			<li><b>University:</b> Northeastern Illinois University</li>
			<li><b>Degree:</b> Bachelor of Arts</li>
			<li><b>Program:</b> Economics</li>
		</ul>
	</div>


		<br> <br>
    <div id="life-education">
		<h1>Life Education</h1>
		<h4></h4>
  <ul>
  <li><%= image_tag("outward_bound.png") %></li>
  <li><%= image_tag("imogene_pass_run.png") %></li>
    <i class="fa fa-heart-o fa-5x"></i>
    <li>Leslie (married 09/25/2001)</li>
    <i class="fa fa-child fa-5x" ></i>
    <li>Charlie (born 05/07/2002)</li>
    <i class="fa fa-child fa-5x" ></i>
    <li>Georgie (born 09/23/2003)</li>
  </ul>
  </div>


</div>
