<% provide(:page_id, "education")  %>

<div class="col-xs-7">
	<h1>Technical Education</h1>
	<h4>Summary</h4>
  <h3><a href="http://www.gschool.it">gSchool</a></h3>
  <p>Graduated: August 2014</p>
	<p>gSchool is a six-month developer training program that includes Ruby on Rails, Sinatra, Javascript, CSS3,  HTML5,  Responsive Design, Database, APIs, Version Control, and Test Driven Development</p>

  <h3><a href="http://www.davincicoders.com/">DaVinci Institute</a></h3>
  <p>Graduated: December 2013</p>
  <p>gSchool is a six-month developer training program that includes Ruby on Rails, Sinatra, Javascript, CSS3,  HTML5,  Responsive Design, Database, APIs, Version Control, and Test Driven Development</p>


  <h1>My Technical Skills</h1>

		<h4>Front-End Development</h4>
		<div class="bar-background">
			<div class="bar-foreground" id="html5">		
				<span>HTML5</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="css3">		
				<span>CSS3</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="bootstrap">		
				<span>Bootstrap</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="javascript">		
				<span>JQuery</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="angular">		
				<span>AngularJS</span>
			</div>
		</div>


		<h4>Back-end Development</h4>

		<div class="bar-background">
			<div class="bar-foreground" id="rails">		
				<span>Ruby on Rails</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="databases">		
				<span>PostgreSQL &  MySQL</span>
			</div>
		</div>

		<h4>Team Collaboration</h4>
		<div class="bar-background">
			<div class="bar-foreground" id="git">
				<span>Git</span>
			</div>
		</div>

		<!--<div class="bar-background">-->
			<!--<div class="bar-foreground" id="tracker">-->
				<!--<span>Pivotal Tracker / Jira</span>-->
			<!--</div>-->
		<!--</div>-->
</div>

<div class="col-xs-5">
	<h1>College Education</h1>

	<div id="image">
		<%= image_tag "icon_school.png" %>
	</div>

	<div id="school_info">
		<ul>
			<li><b>University:</b> Northeastern Illinois University</li>
			<li><b>Degree:</b> Bachelor of Arts</li>
			<li><b>Program:</b> Economics</li>
		</ul>
	</div>


		<br> <br>
    <div id="life-education">
		<h1>Life Education</h1>
		<h4></h4>
  <ul>
  <li><%= image_tag("outward_bound.png") %></li>
  <li><%= image_tag("imogene_pass_run.png") %></li>
    <i class="fa fa-child fa-5x" ></i>
    <i class="fa fa-child fa-5x" ></i>
  </ul>
  </div>


</div>
