<% provide(:page_id, "education")  %>

<div class="col-xs-7">
	<h1>Education</h1>
	<h4>Summary</h4>
	<p>Full Sail gave me a solid foundation and enough practice to build a diverse portfolio. From graphic manipulation to Object Oriented programing, I have it all covered.</p>

	<p>The production process learned was very thorough and extensive giving me a clear understanding of clients' needs and deliverables.</p>

	<h1>My Skills</h1>
	<h4>Graphic Design</h4>

	<div class="bar-background">
		<div class="bar-foreground" id="photoshop">		
			<span>Photoshop</span>
		</div>
	</div>

	<div class="bar-background">
		<div class="bar-foreground" id="illustrator">		
			<span>Illustrator</span>
		</div>
	</div>


		<h4>Front-End Development</h4>
		<div class="bar-background">
			<div class="bar-foreground" id="html5">		
				<span>HTML5</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="css3">		
				<span>CSS3</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="javascript">		
				<span>JavaScript (JQuery)</span>
			</div>
		</div>


		<h4>Back-end Development</h4>

		<div class="bar-background">
			<div class="bar-foreground" id="rails">		
				<span>Ruby on Rails</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="databases">		
				<span>Databases</span>
			</div>
		</div>

		<h4>Media Editing</h4>
		<div class="bar-background">
			<div class="bar-foreground" id="video">		
				<span>Video Editing</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="audio">		
				<span>Audio Editing</span>
			</div>
		</div>
</div>

<div class="col-xs-5">
	<h1>University</h1>
	<h4>My University Education</h4>
		
	<div id="image">
		<%= image_tag "icon_school.png" %>
	</div>

	<div id="school_info">
		<ul>
			<li><b>University:</b> <a href="http://www.fullsail.edu/" target="_blank">Full Sail University</a></li>
			<li><b>Degree:</b> Bachelor of Science</li>
			<li><b>Program:</b> Web Design & Development</li>
			<li><b>Date:</b> Nov 2010 - Aug 2012</li>
		</ul>
	</div>


		<br> <br>


		<h1>Additional Info</h1>
		<h4></h4>
		<ul>
			<li><b>Fully Bilingual</b> Spanish & English</li>
			<li><b>USMC</b> Served in the military with Honorable Discharge</li>
		</ul>
</div>
