<% provide(:page_id, "education")  %>

<div class="col-xs-7">
	<h1>Technical Education</h1>
	<h4>Summary</h4>
  <h3><a href="http://www.gschool.it">gSchool</a></h3>
  <p>Graduated: August 2014</p>
	<p>gSchool is a six-month developer training program that includes Ruby on Rails, Sinatra, Javascript, CSS3,  HTML5,  Responsive Design, Database, APIs, Version Control, and Test Driven Development</p>

  <h3><a href="http://www.davincicoders.com/">DaVinci Institute</a></h3>
  <p>Graduated: December 2013</p>
  <p>gSchool is a six-month developer training program that includes Ruby on Rails, Sinatra, Javascript, CSS3,  HTML5,  Responsive Design, Database, APIs, Version Control, and Test Driven Development</p>


  <h1>My Skills</h1>
	<h4>Graphic Design</h4>

	<div class="bar-background">
		<div class="bar-foreground" id="photoshop">		
			<span>Photoshop</span>
		</div>
	</div>

	<div class="bar-background">
		<div class="bar-foreground" id="illustrator">		
			<span>Illustrator</span>
		</div>
	</div>


		<h4>Front-End Development</h4>
		<div class="bar-background">
			<div class="bar-foreground" id="html5">		
				<span>HTML5</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="css3">		
				<span>CSS3</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="bootstrap">		
				<span>Bootstrap</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="javascript">		
				<span>JQuery</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="angular">		
				<span>AngularJS</span>
			</div>
		</div>


		<h4>Back-end Development</h4>

		<div class="bar-background">
			<div class="bar-foreground" id="rails">		
				<span>Ruby on Rails</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="databases">		
				<span>PostgreSQL &  MySQL</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="mongo">		
				<span>MongoDB (NoSQL)</span>
			</div>
		</div>

		<h4>Media Editing</h4>
		<div class="bar-background">
			<div class="bar-foreground" id="video">		
				<span>Video Editing</span>
			</div>
		</div>

		<div class="bar-background">
			<div class="bar-foreground" id="audio">		
				<span>Audio Editing</span>
			</div>
		</div>
</div>

<div class="col-xs-5">
	<h1>University</h1>

	<div id="image">
		<%= image_tag "icon_school.png" %>
	</div>

	<div id="school_info">
		<ul>
			<li><b>University:</b> Northeastern Illinois University</li>
			<li><b>Degree:</b> Bachelor of Arts</li>
			<li><b>Program:</b> Economics</li>
		</ul>
	</div>


		<br> <br>


		<h1>Additional Info</h1>
		<h4></h4>
		<ul>
			<li><b>Fully Bilingual</b> Spanish & English</li>
			<li><b>USMC</b> Served in the military with Honorable Discharge</li>
		</ul>
</div>
