<% provide(:page_id, "experience")  %>

<div class="col-xs-8">
	<h1>Experience</h1>
	<h4>Professional Projects</h4>
  
  <ul>
    <%= link_to image_tag('sling_tv.png'), 'http://www.sling.com/', target: '_blank' %>
		<h4><%=link_to 'Sling TV', 'https://www.sling.com/', target: '_blank' %></h4>
		<h4>Sep 2014 - Present</h4>
		<li>I am a contributing member to a distributed team of developers working on the launch of Sling TV from Dish Network. My focus has been on the customer facing front-end.</li>
		<li><b>Technologies used</b> HTML/CSS, Bootstrap, AngularJS, Slim, CoffeeScript, Ruby on Rails, SQL, JSON</li>
	</ul>

	<hr>
  <h4>Class Projects</h4>
	<ul>
		<li><b>Project Name</b> <a href="http://www.planomatic.com/">Planomatic</a> (Ruby on Rails) Feb 2014 - Sep 2014</li>
		<li><b>Project Goal</b> To create a web application for a company that caters to the Real Estate industry. Refinery CMS was used so client was able to change content without a redeployment of application.</li>
		<li><b>Technologies used</b> HTML5, CSS3 JavaScript, Ruby, SQL, AWS S3, SMTP Mailer</li>
		<li><b>Results</b> Project was deployed sucesssfully, Client is able to update content without the need to contact me.</li>
	</ul>

	<div id="more_projects">

		<hr>

		<ul>
			<li><b>Project Name</b> <a href="#">Recipe Cost App</a> (Ruby on Rails) Dec 2013 - Present</li>
			<li><b>Project Goal</b> To create a web application for the restaurant industry were chefs and managers can calculate recipe costs. </li>
			<li><b>Languages used</b> HTML5, CSS3 JavaScript, Ruby, SQL.</li>
			<li><b>Results</b> Still in production. Check out my github account to see progress on project.</li>
		</ul>

		<hr>

		<ul>
			<li><b>Project Name</b> <a href="http://cdes3225.herokuapp.com/" target="_blank">MSU Integrated Production Techniques</a> (Ruby on Rails) Jul 2013</li>
			<li><b>Project Goal</b> To create a blog type app for a professor to comunicate with students. </li>
			<li><b>Languages used</b> HTML5, CSS3 JavaScript, Ruby, SQL.</li>
			<li><b>Results</b> Professor was pleased on how easy was to upload resources and assignments for students to review. For next semester a mobile version will be created.</li>
		</ul>
	
		<hr>

		<ul>
			<li><b>Project Name</b> <a href="http://78pueblos.com" target="_blank">“78 Pueblos”</a> (Ruby on Rails) Jul 2012 - Present</li>
			<li><b>Project Goal</b> To create a user friendly web app for posting classiﬁed ads.</li>
			<li><b>Languages used</b> HTML5, CSS3 JavaScript, Ruby, SQL.</li>
			<li><b>Results</b> The app is still in development. This project was experimental and a for 
			learning purposes. Now is being redeveloped with some adjustments.</li>
		</ul>

		<hr>



		<ul>
			<li><b>Project Name</b> <a href="http://www.yummypuertorico.com" target="_blank">YummyPuertoRico.com </a>Jan 2012</li>
			<li><b>Project Goal</b> To create a directory for restaurants and showcasing their menus.</li>
			<li><b>Languages used</b> HTML5, CSS3, and JavaScript.</li>
			<li><b>Results</b> This website was done before I learned about server side languages and databases, so maintenance is harder . If this project was redone, I would create a backend with Rails, and would integrate with database.</li>
		</ul>
	</div>

	
	
	
</div>

<div class="col-xs-12">
	<%= link_to "show more projects", "#", class: "btn btn-primary btn-xs show_more" %>
</div>



<div class="col-xs-12">
	<h1>Services</h1>

	<div class="service" style="margin-left:0">
		<div id="design">
			<h1>Design</h1>
			<p>User Experience is the most important aspect when designing.</p>
		</div>
	</div>

	<div class="service">
		<div id="front">
			<h1>Front-End</h1>
			<p>HTML, CSS & JavaScript, the bulding blocks for bulding a site.</p>
		</div>
	</div>

	<div class="service">
		<div id="back">
			<h1>Back-End</h1>
			<p>I specialized in Rails as my framework. MVC is the way to go.</p>
		</div>
	</div>

	<div class="service">
		<div id="media">
			<h1>Media Editing</h1>
			<p>Editing Video and Audio, Can put together tutorials or short videos.</p>
		</div>
	</div>
</div>

