<% provide(:page_id, "profile")  %>

<div class="col-xs-7">

	<h1>Who am I?</h1>
	<h4>A very curious human being</h4>

	<p>I'm David, a web developer looking out to create meaningful applications and be able to enjoy my new town, Boulder, CO. I like to consider myself a renaissance man, I just like to learn about anything.</p>

	<h1>Features</h1>
	<h4>Strengths & Weaknesses</h4>

	<div class="bar-background">
		<div class="bar-foreground" id="creativity">		<span>Creativity</span>
		</div>
	</div>

	<div class="bar-background">
		<div class="bar-foreground" id="problem_solving">		<span>Problem Solving</span>
		</div>
	</div>

	<div class="bar-background">
		<div class="bar-foreground" id="organization">		<span>Organization</span>
		</div>
	</div>

	<div class="bar-background">
		<div class="bar-foreground" id="teamwork">		<span>Team Work</span>
		</div>
	</div>

	<div class="bar-background">
		<div class="bar-foreground" id="learning">		<span>Learning Time</span>
		</div>
	</div>

	<div class="bar-background">
		<div class="bar-foreground" id="concentration">		<span>Concentration</span>
		</div>
	</div>
</div>

<div class="col-xs-5">

	<h1>Secrets</h1>
	<h4>Things I like and don't like to do <br>
		<i>(Hover over the icons to find out)</i>
	</h4>

	

		<div class="row">
			<div class="likes" id="fuji">
				<div><i class="glyphicon glyphicon-thumbs-up"></i> 
					Like Hiking ... <br> Climbed Mt. Fuji, Japan
				</div>
			</div>

			<div class="likes" id="swords">
				<div><i class="glyphicon glyphicon-thumbs-up"></i> 
					Love Medieval Times
				</div>
			</div>

			<div class="likes" id="cooking">
				<div><i class="glyphicon glyphicon-thumbs-up"></i> Love Cooking</div>
			</div>

			<div class="likes" id="baseball">
				<div><i class="glyphicon glyphicon-thumbs-down"></i> Boring</div>
			</div>
		</div>

		<div class="row">
			<div class="likes" id="code">
				<div><i class="glyphicon glyphicon-thumbs-up"></i> Love Programing</div>
			</div>

			<div class="likes" id="alien">
				<div><i class="glyphicon glyphicon-thumbs-down"></i> Hate Alien Movies</div>
			</div>

			<div class="likes" id="money">
				<div><i class="glyphicon glyphicon-thumbs-up"></i> Who doesn't like money? <br> the guy from <i>"Into the Wild"</i> doesn't count ...</div>
			</div>

			<div class="likes" id="soccer">
				<div><i class="glyphicon glyphicon-thumbs-up"></i> Addicted to FIFA</div>
			</div>
		</div>
		

			

	
</div>
	

