<% provide(:page_id, "profile")  %>

<div class="col-xs-7">

	<h1>Who am I?</h1>
	<h4>A collaborative, results-driven web developer</h4>

	<p>I became a web developer mid-career after a variety of sales and marketing positions. This allows me to have a unique perspective when working with
  product owners and marketing team members.</p>

	<h1>Strengths & Weaknesses</h1>

	<div class="bar-background">
		<div class="bar-foreground" id="grit">		<span>Grit</span>
		</div>
	</div>

	<div class="bar-background">
		<div class="bar-foreground" id="problem_solving">		<span>Problem Solving</span>
		</div>
	</div>

	<div class="bar-background">
		<div class="bar-foreground" id="organization">		<span>Organization</span>
		</div>
	</div>

	<div class="bar-background">
		<div class="bar-foreground" id="teamwork">		<span>Team Work</span>
		</div>
	</div>

	<div class="bar-background">
		<div class="bar-foreground" id="learning">		<span>Learning Time</span>
		</div>
	</div>


</div>

<div class="col-xs-5">

	<h1>Personal Interests</h1>
	<h4>Things I love and things I hate <br>

	</h4>

	
</div>
	

