.blog_post {
	h5 {
		font-size: 1.4em;
		font-weight: 300;
		color: #666;
		margin-bottom: 0;
	}

	hr {
		margin: 10px 0;
	}

	.blog_post_date {
		color: #999;
	}

	img {
		width: 100%;
		margin-bottom: 25px;
	}

	p {
		color: #666;
	}
}