#mini_profile {

	margin-bottom: 30px;
	padding-bottom: 2px;

	div {
		margin: 15px;
	}

	h1 {
		font-family: 'Open Sans', sans-serif;
		font-size: 1.2em;
		color: #a1a1a1;
		font-weight: 400;
	}

	p {
		font-size: .9em;
		margin-left: 1px;
	}


}


#peek_my_code {
    padding: 20px;
  text-align: center;
	.btn {
		background-color: #428bca;
		border-color: #357ebd;

		&:hover {
			background-color: #428bca;
			border-color: #357ebd;
		}
	}

}