#mini_profile {

	margin-bottom: 30px;
	padding-bottom: 2px;

	div {
		margin: 15px;
	}

	h1 {
		font-family: 'Open Sans', sans-serif;
		font-size: 1.2em;
		color: #a1a1a1;
		font-weight: 400;
	}

	p {
		font-size: .9em;
		margin-left: 1px;
	}

	.btn {
		margin-left: 2px;
		width: 130px;
	}
	
}


#peek_my_code {
	img {
		margin: 22px;
	}

	.btn {
		margin-left: 17px;
		margin-bottom: 18px;
		background-color: #FF6633;
		border-color: #CC6633;
		width: 130px;		

		&:hover {
			background-color: #fc410a;
			border-color: #FF3300;
			
		}
	}
}