.container {
	width: 1170px !important
}

body {
	padding-top: 60px;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}
	.box_gradient {
	background-color: red;
	background-image: -webkit-gradient(linear, left top, right top, from(#8A0808), to(#610B0B));
	background-image: -webkit-linear-gradient(left, #8A0808, #610B0B);
	background-image: -moz-linear-gradient(left, #8A0808, #610B0B);
	background-image: -o-linear-gradient(left, #8A0808, #610B0B);
	background-image: linear-gradient(to right, #8A0808, #610B0B);
}

.white {
	background-color: #fcfcfc;
}

nav {
	margin-bottom: 30px;
}

.page_content {
	padding-left: 7px;
	overflow: hidden;
	margin-bottom: 60px;

	h1 {
		color: darkred;
		font-weight: 300;
		font-size: 2em;
	}

	h4 {
		color: black;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 1.4em;
		margin-left: 1px;

		i {
			text-transform: none;
			color: #cccccc;
		}
	}

	p {
	}
}

footer {
	overflow: hidden;
	padding: 15px;
	clear: both;
	margin-bottom: 10px; 
}