/***** List View *****/

ul#projects {
	list-style: none;
	padding-left: 0;
	margin-top: 30px;
	/*margin: 20px;*/
	overflow: hidden;

	img {
		max-width: 100%;
	}

	iframe {
		padding: 0;
		margin-top: 0;
		margin-bottom: -5px;
	}

	li {
		width: 285px;
		float: left;
		margin-right: 22px;
		margin-bottom: 22px;

		&:nth-child(3n + 3) {
			margin-right: 0;
		}

		h1	{
			color: #202020;
			font-size: 1.5em;
			padding: 10px 0 0 0;
			margin: 0;
			text-align: center;
			font-weight: 300;
		}

		h4 {
			margin: 0;
			text-align: center;
			padding-bottom: 10px;
			color: #838476;
			padding-top: 10px;
		}

		a	{
			text-decoration: none;

			&:link, &:visited {
				h1 {
					color: #202020;
				}
			}

			&:active, &:hover {
				h1 {
					color: #f9400a;
				}
				img {
				  opacity: 0.8;
				}
			}

			div {
				background-color: #f2f1f2;
				border-bottom: 1px solid #f9400a;
			}
		}
	}
}

/********** Show View **********/

img#project_image, iframe {
	max-width: 100%;
	margin-top: 17px;
	padding: 10px;
}

h4#tech {
	margin-top: 30px;
	margin-bottom: 5px;
}

div#project {


	ul {
		list-style: none;
	}

	img.feature_img {
		margin: -13px 0 30px 0;
		padding: 5px;
	}


}
