div.bar-background {
	height: 38px;
	overflow: hidden;
	background-color: #eeedee;
	margin: 12px 0 12px 2px;

	div.bar-foreground {
		background-color: #fc410a;
		height: 38px;
		overflow: hidden;
		position: relative;

		span {
			color: #fcfcfd;
			text-transform: uppercase;
			position: absolute;
			top: 10px;
			left: 12px;
			font-size: 1em;
			font-weight: 400;
		}
	}
}