<div id="mini_profile" class="white">
	<%= image_tag "selfportrait_square.jpg", class: "img-responsive" %>

	<div>
		<h1>David Ortiz Frau</h1>
		<p>I'm David, a web developer based in Boulder, CO.</p>
		<a href="<%= asset_path('david_ortiz_resume.pdf') %>" target="_blank" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-print"></i> Print Resume</a>
	</div>

</div>

	
