<div id="mini_profile" class="white">
	<%= image_tag "wenig_image.jpg", class: "img-responsive" %>

	<div>
		<h1>Paul Wenig</h1>
		<p>Boulder, CO</p>
		<a href="<%= asset_path('paul_wenig_resume.pdf') %>" target="_blank" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-print"></i> Print Resume</a>
	</div>

</div>

	
